#main {
    background-color: #736034;
    background-image: linear-gradient(62deg, #736034 0%, #e59417 33%, #8e7421 66%, #af7d7d 100%);
    padding-left: 5%;
    padding-right: 5%;
}
#title {
    text-align: center;
}
#main p {
    text-align: center;
}
#img-div {
    display: block;
    
    background-color: #736034;
    background-image: linear-gradient(62deg, #736034 0%, #e59417 33%, #8e7421 66%, #af7d7d 100%);
    border: 1px solid black;
    width: auto;
    text-align: center;

}
#image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    
}

#info-title {
    text-align: center;
}
#info {
    display: flex;
    justify-content: center;
    text-align: left;
}
ul {
    align-items: center;
    margin: 20px 0;
    max-width: 550px;
}
li {
    align-items: center;
    display: list-item;
    text-align: -webkit-match-parent;
}